#Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.env.local
.env.*secrets.json
config/secrets.yamlcredentials.json

#Company Test Data
data/raw/

#Data File Types
*.csv
*.json
*.xml*.sqlite
*.db
*.db3

#Cursor
.cursor/
